{
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"ecmaVersion": 13,
		"sourceType": "module",
		"project": true,
		"extraFileExtensions": [".vue"]
	},
	"plugins": ["@typescript-eslint", "sonarjs"],
	"extends": [
		"eslint:recommended",
		"plugin:sonarjs/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:vue/vue3-recommended",
		"plugin:vue-scoped-css/vue3-recommended",
		"prettier"
	],
	"rules": {
		"vue/multi-word-component-names": "off",
		"@typescript-eslint/no-explicit-any": "warn",
		"sonarjs/no-duplicate-string": "warn",
		"vue/component-tags-order": [
			"error",
			{
				"order": ["style", "template", "script"]
			}
		]
	},
	"overrides": [
		{
			"files": "src/**/*.+(ts|vue)",
			"excludedFiles": "*.+(stories|spec).ts",
			"rules": {
				"no-restricted-imports": [
					"error",
					{
						"patterns": [
							{
								"group": ["*.stories.*", "*.spec.*"],
								"message": "Import from .spec. and .stories. no allowed for UI KIT."
							}
						]
					}
				]
			}
		}
	],
	"env": {
		"browser": true,
		"es2021": true
	}
}
