:root {
	--design-border-radius-control: 4px;
	--design-border-radius-icon-button: 50%;
	--design-border-radius-surface: 16px;
	--design-border-radius-avatar: 50%;
	--design-border-radius-tag: 16px;
	--design-focus-outline: 3px solid var(--design-border-color-focus);
}
