::-webkit-scrollbar-track {
	border-radius: 8px;
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	min-height: 16px;
	min-width: 16px;
	border-radius: 8px;
	background: var(--design-border-color-secondary);
}

.list-table-scroll::-webkit-scrollbar {
	width: 12px;
}
.list-table-scroll::-webkit-scrollbar-thumb {
	border: 4px solid var(--design-background-color-secondary);
}