@font-face {
	font-family: 'Inter';
	src: url(../fonts/Inter/Inter-VariableFont_slnt_wght.ttf);
}

:root {
	--design-font-family: 'Inter', sans-serif;
	--design-font-family-accent: var(--design-font-family);

	--design-gap-unit: 8px;
}

h1,
h2,
h3,
h4 {
	color: var(--design-text-color-primary);
	font-family: var(--design-font-family);
	font-weight: 700;
}

h1 {
	font-size: 24px;
	line-height: 32px;
}

h2 {
	font-size: 20px;
	line-height: 28px;
}

h3 {
	font-size: 18px;
	line-height: 28px;
}

h4,
h5,
h6 {
	font-size: 16px;
	line-height: 24px;
}

.text-large,
.text-medium,
.text-small,
.text-footnote,
.text-hint,
body,
button,
div,
span {
	color: var(--design-text-color-primary);
	font-weight: 400;
	font-family: var(--design-font-family);
}
.text-large {
	font-size: 18px;
	line-height: 28px;
}

.text-medium,
body,
button,
div,
span {
	font-size: 16px;
	line-height: 24px;
}

.text-small {
	font-size: 14px;
	line-height: 24px;
}

.text-footnote {
	font-size: 12px;
	line-height: 20px;
}

.text-hint {
	font-size: 11px;
	line-height: 20px;
}

.accent:not(h1, h2, h3, h4, h5, h6) {
	font-weight: 600;
}
.secondary {
	color: var(--design-text-color-secondary);
}
.warning {
	color: var(--design-text-color-warning);
}
