.Field {
	display: flex;
	flex-flow: column;
}

.Field__description {
	color: var(--design-text-color-secondary);
}
.Field__input {
	border: none;
	width: 100%;
	display: block;
	padding: 0;
}
.Field__input:focus-visible {
	outline: none;
}
.Field__visibleInput {
	background: var(--design-background-color-primary);
	border: var(--design-border-color-secondary) 1px solid;
	border-radius: var(--design-border-radius-control);
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	height: min-content;
	max-height: 40px;
	display: flex;
	padding: var(--design-gap-unit) calc(2 * var(--design-gap-unit));
}
.Field--invalid .Field__visibleInput {
	border-color: var(--design-border-color-danger-primary);
}
.Field__visibleInput {
	outline: var(--forced-focus-outline, none);
}
.Field__visibleInput:focus-within {
	outline: var(--design-focus-outline);
}
.Field__below {
	display: flex;
	flex-flow: row;
}
.Field__validationMessage {
}
.Field__counter {
	margin-left: auto;
}
.Field__validationMessage.danger {
	color: var(--design-text-color-danger);
}

.Field__beforeWrapper,
.Field__afterWrapper {
	width: min-content;
	height: min-content;
}
